
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
body{
    background:linear-gradient(180deg, #1a0b2e 0%,#2d1b4e 100% ) ;
    height: 100vh;
}


.btn{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(45deg , #ff005e, #6a00ff);
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    outline: none;
    transition: all 0,4s ease;
    background-size: 200% 200%;
    animation: backgroundGradient 3s ease infinite;
}

.btn:hover{
    background-position: right center;
    box-shadow: 0 0 20px rgba(255,0,94,1),0 0 30px rgba(106,0,255,1),0 0 40px rgba(255,0,94,1),0 0 50px rgba(106,0,255,1);
    animation: backgroundGradientHover 2s ease infinite;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundGradientHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.feature-card:hover{
    background-color: #533C72;
    box-shadow: 0px 10px 50px 0 #04040426;
}

.ch_cd:hover{
    background-color: #533C72;
    box-shadow: 0px 10px 50px 0 #04040426;
}


/* main */

.container{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 200px;
    padding-right: 200px;
}

.menu{
    max-width: 218px;
    gap: 32px;
    font-size: 1rem;
    font-weight: medium;
}

/* about section */
.about{
  margin: 0px auto;
  text-align: center;
  max-width: 1600px;
  background-color: #1A0B2E;
 
}

.about-description{
 
  padding: 50px 200px 160px;
  justify-content: center
 
}

.about-description h2{
  margin-bottom: 16px;
  font-size: 3rem;
  font-weight: bold;
}

.about-description p{
  font-size: 1rem;
  line-height: 20px;
  font-weight: regular;
}

.about-info{

  padding: 0px 200px 120px;
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
 
}

.about-info h3{
  font-size: 3rem;
  font-weight: bold;
  color: #00FF88;
  gap: 80px;
}

.about-info p{
  font-size: 1rem;
  font-weight: regular;
  line-height: 20px;
}

/* choose section */
.choose{
  background-color: #230E3D;
}
.choose h2{
  
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 120px;
  padding-bottom: 40px;
}

.choose-card-container{
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 1600px;
    padding: 120px 200px;
    gap: 16px;
}

.ch_cd{
  padding: 40px;
  border-radius: 40px;

  background-color: #351165;
}



.choose-card_1{
  grid-row: span 2;
}

.choose-card_2{
  grid-column: span 2;
}

.choose-card_3{
  grid-column: span 2;
}

.choose-card_4{
  grid-column: span 2;
}

.choose-card_1{
  grid-row: span 2;
}

/* feature section */

#feature{
  background-color: #1A0B2E;
  margin: 0px auto;
  padding: 200px 120px;
 justify-items: center;
  align-items: center;

}


.feature-container{
  max-width: 1200px;
 
}

.feature-container h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.feature-card-container{
 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 1200px;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.feature-card{
  width: 100%;
  max-width: 380px;
  max-height: 440px;
  background-color: #250D44;
  border-radius: 10px;
}

.feature-card h3{
  margin: 24px;
  margin-bottom: 12px;
  max-width: 332px;
  max-height: 58px;
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-card p{
  margin: 0px 24px 12px;
  max-width: 332px;
  max-height: 72px;
  font-size: 1rem;
  font-weight: regular;
  line-height: 24px;
}

.feature-card span{
  margin: 0px 24px 24px;
  padding-bottom: 24px;
}


.challenging-part{
  max-width: 1200px;
  margin-top: 120px;
 
 
}

.feature-info{
  background-color: #250D44;
  border-radius: 35px;
}

.feature-heading{
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}


.image{
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  margin: 40px;
  margin-right: 24px;
}

.feature-info h3{
  font-size: 2rem;
  font-weight: bold;
  margin:48.5px 40px 16px 0px;
}

.feature-info p{
margin-right: 40px;
margin-bottom: 16px;
font-size: 1rem;
font-weight: regular;
line-height: 24px;
}


.social{
  max-width: 184px;
  max-height: 40px;
  gap: 8px;
  
}

.social img{
  max-width: 40px;
  max-height: 40px;
  border: 2px solid #533C72;
  border-radius: 100%;
} 

.feature-card span{
  color: #00FF88;
 
}

/* footer section */

#footer-container{
  width: 100%;
  max-width: 1600px;
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
 

}

.footer-content{
 
  width: 100%;
  justify-items: center;
  align-items: center;
  padding: 120px 0px;
}

.companies{
  margin: 32px 0px;
  max-width: 544px;
  max-height: 24px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
 

}

.companies a{
  display: flex;
  max-height: 24px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  gap: 8px;

}

.copyright{
 font-size: 1rem;
 font-weight: regular;
 line-height: 24px;
 color: #FAFAFA;
 
}

/* banner section */
#hero{
  width: 100%;
  max-width: 1600px;
  background-color: #1A0B2E;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container{
 
  width: 100%;
  max-width: 550px;
  margin: 0px auto;
  padding: 80px 0px;
  justify-items: center;
  align-items: center;
}

.hero-logo{
  right: 46%;
  top: 36%;
 
}

.hero-container h2{
  margin-top: 40px;
  margin-bottom: 8px ;
  font-size: 4rem;
  font-weight: 800;
}

.hero-container p{
  margin-bottom: 40px;
  opacity: 80%;
  font-size: 1rem;
  font-weight: regular;
}

.buttons{
  gap: 8px;
  display: flex;
}

.exta-design{
  color: #00FF88;
  background-color: none;
}

.hero-image p{
  background-color: #00FF88;
  color: #1A0B2E;
  border-radius: 1000px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  left: 56%;
  top: 27%;
}




/* responsive media query */
@media screen and (max-width: 576px){
  .container{
    
    padding-left: 20px;
    padding-right: 20px;
}
  .about-info{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin:0px 20px 40px 20px;
    
    
  }

  .about-description{
    padding: 40px 20px 80px;
    justify-content: center;
    align-items: center;
   
  }

  .choose-card-container{
    grid-template-columns: repeat(1,1fr);
    padding: 20px;
    
  }

  .ch_cd{
   padding: 24px 40px;

  }

  #feature{
    padding: 40px 20px;
  }

  .feature-card-container{
    grid-template-columns: repeat(1,1fr);
    padding: 0px;
    max-width: 400px;
  }

  .feature-info{
    flex-direction: column;
    margin: 0px 20px 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .social{
    margin: 0px auto;
  }

  .feature-info h3{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .footer-content{
    padding: 40px 20px;
   
  }

  .companies{
     grid-template-columns: repeat(2,1fr);
     max-width: 255px;
     max-height: 64px;
     /* margin-top: 56px;
     margin-bottom: 24px; */
     /* padding-top: 56px; */
     padding-bottom: 24px;
  }

  .copyright{
    padding-top: 50px;
  }

  .hero-container{
    padding: 40px 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;

  }

  .circle{
    width: 100%;

  }

  .hero-logo{
    right: 40%;
    top: 33%;
  }

  .hero-image p{
    left: 65%;
    top: 24%;
  }

  .buttons{
    flex-direction: column;
  }



}
