
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
body{
    background:linear-gradient(180deg, #1a0b2e 0%,#2d1b4e 100% ) ;
    height: 100vh;
}


.btn{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(45deg , #ff005e, #6a00ff);
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    outline: none;
    transition: all 0,4s ease;
    background-size: 200% 200%;
    animation: backgroundGradient 3s ease infinite;
}

.btn:hover{
    background-position: right center;
    box-shadow: 0 0 20px rgba(255,0,94,1),0 0 30px rgba(106,0,255,1),0 0 40px rgba(255,0,94,1),0 0 50px rgba(106,0,255,1);
    animation: backgroundGradientHover 2s ease infinite;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundGradientHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* main */

.container{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu{
    max-width: 218px;
    gap: 32px;
    font-size: 1rem;
    font-weight: medium;
}

/* about section */
.about{
  margin: 0px auto;
  text-align: center;
  max-width: 1600px;
 
}

.about-description{
  margin: 50px 200px 160px;
  max-width: 1200px;
}

.about-description h2{
  margin-bottom: 16px;
  font-size: 3rem;
  font-weight: bold;
}

.about-description p{
  font-size: 1rem;
  line-height: 20px;
  font-weight: regular;
}

.about-info{

  margin: 0px 200px 120px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
}

.about-info h3{
  font-size: 3rem;
  font-weight: bold;
  color: #00FF88;
  gap: 80px;
}

.about-info p{
  font-size: 1rem;
  font-weight: regular;
  line-height: 20px;
}






/* responsive media query */
@media screen and (max-width: 576px){
  .about-info{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin:0px 20px 40px 20px;
    
    
  }

  .about-description{
    margin: 40px 20px 80px;
    justify-content: center;
    align-items: center;
   
  }

}
